.links {
    text-decoration: none;
    color: white;
    background-color: rgb(102, 92, 102);
    padding: 5px;
    border-radius: 6px;
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    transition: 0.3s;
}

.links:hover {
    background-color: rgb(138, 126, 138);
}

.yt-logo {
    width: 100%;
}

.proj-div {
    background-color: #5c5c5c;
    border-radius: 6px;
    padding: 12px;
}

.proj-div-link {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.links2 {
    text-decoration: none;
    color: white;
    background-color: #424242;
    padding: 5px;
    border-radius: 6px;
    transition: 0.35s;
}

.links2:hover {
    box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.336);
}

.text {
    text-decoration: none;
    color: white;
    background-color: #8d8d8d;
    padding: 5px;
    border-radius: 6px;

}

.bubmit-btn {
    border: none;
    border-radius: 4px;
    background-color: rgb(99, 112, 187);
    color: white;
    padding: 3px;
    padding-left: 9px;
    padding-right: 9px;
}

.input-box {
    border-radius: 4px;
    border: none;

}